@media only screen and (max-width: 900px) { 
    
    .calender{
        flex-direction: column; 
        display: flex;
    }
}   
#navbar{
    text-align: center; 
    margin: auto;
  } 
  .calender{
    text-align: center; 
    margin: auto;  
    display: flex; 
    margin: auto;
  }  
  #month{
    text-align: center; 
    margin: auto;
  } 
  
